<html>
    <head>
        <title>Cinder: Profiles</title>
        <link rel="stylesheet" href="CSS/profiles.css">
        <link rel="icon" href="Images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
        <script src="JS/profiles.js" defer></script>
    </head>
    <body>
        <div class="nav">
            <a href="/index" style="text-decoration: none;"><img src="Images/favicon.png" alt="logo" height="70px" width="70px" style="float: left;"></a>
        </div>
        <br><br><br>
        <center><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a name, class, section, class and section or gender."></center> <br><br>
        <center><select name="classDropdown" id="classDropdown">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <button class="classButton" id="classButton"><span class="txt">Class</span></button>

        <select name="sectionDropdown" id="sectionDropdown">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
        </select>
        <button class="sectionButton" id="sectionButton"><span class="txt">Section</span></button>

        <select name="genderDropdown" id="genderDropdown">
            <option value="Maley">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <button class="genderButton" id="genderButton"><span class="txt">Gender</span></button></center>
        <br><br><br><br><br>
        
        <ul id="myUL">
            <%
            if(data.length > 0){
            data.forEach(function(obj){
                if (obj.imglink.length == 0){
                    obj.imglink = "Images/dp.jpg";
                }; 
            %>
            <li class="profilecard">
                <center>
                   <img style="border-radius: 50%;" src=<%= obj.imglink %> alt="DP" width="150px" height="150px"><br><br>
                    <!--name-->
                    <span class="srch"><span class="name"><%= obj.name.toUpperCase() %></span> <br><br>
                    <!--class and section-->
                    <span style="font-family: 'Passion One', cursive; font-size: 24px;"><span class="class" style="margin-right: 10px;"><%= obj.class %></span> <span class="section"><%= obj.section %></span></span> <br><br>
                    <!--gender-->
                    <span style="opacity: 0; font-size: 1px;" class="gender"><%= obj.gender %></span>
                    <img  src=<%= obj.gender %> id="gender" alt=<%= obj.gender %>><br><br></span>
                    <!--social media-->
                    <a href=<%="https://www.instagram.com/".concat(obj.insta) %>><img class="sm" src="Images/Instagram.png" alt="Instagram"></a>&nbsp&nbsp&nbsp&nbsp
                    <a href=<%="https://wa.me/91".concat(obj.whatsapp) %>><img class="sm" src="Images/WhatsApp.png" alt="WhatsApp"></a>&nbsp&nbsp&nbsp&nbsp
                    <a href=""><img class="sm" src="Images/Snapchat.png" alt="Snapchat"></a> <br><br>
                    <%= obj.othermedia %>  <br><br>
                    <p><strong style="font-size: 20px;">Interests: </strong><%= obj.interests %> <br><br>
                    <strong style="font-size: 20px;">Bio: </strong><%= obj.bio %> </p>
                </center>
            </li>
            <%
            });
            };
            %>
        </ul>
    </body>
</html>