<html>
    <head>
        <title>Cinder: Profiles</title>
        <link rel="stylesheet" href="CSS/profiles.css">
        <link rel="icon" href="Images/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav">
            <a href="/index" style="text-decoration: none;"><img src="Images/favicon.png" alt="logo" height="70px" width="70px" style="float: left;"></a>
        </div>
        <center><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a name, class, section or gender."></center>
        <select name="classDropdown" id="classDropdown">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <button class="classButton" id="classButton">Class</button>

        
        <ul id="myUL">
            <%
            if(data.length > 0){
            data.forEach(function(obj){
                if (obj.imglink.length == 0){
                    obj.imglink = "Images/dp.jpg";
                }; 
            %>
            <li class="profilecard">
                <center>
                   <img style="border-radius: 50%;" src=<%= obj.imglink %> alt="DP" width="150px" height="150px"><br><br>
                    <!--name-->
                    <a><span class="name"><%= obj.name.toUpperCase() %></span> <br><br>
                    <!--class and section-->
                    <span style="font-family: 'Passion One', cursive; font-size: 24px;"><%= obj.class %> &nbsp&nbsp&nbsp <%= obj.section %></span> <br><br>
                    <!--gender-->
                    <span style="font-weight: 1000;"></span>
                    <img  src=<%= obj.gender %> id="gender" alt=<%= obj.gender %>><br><br></a>
                    <!--social media-->
                    <a href=<%="https://www.instagram.com/".concat(obj.insta) %>><img class="sm" src="Images/Instagram.png" alt="Instagram"></a>&nbsp&nbsp&nbsp&nbsp
                    <a href=<%="https://wa.me/91".concat(obj.whatsapp) %>><img class="sm" src="Images/WhatsApp.png" alt="WhatsApp"></a>&nbsp&nbsp&nbsp&nbsp
                    <a href=""><img class="sm" src="Images/Snapchat.png" alt="Snapchat"></a> <br><br>
                    <%= obj.othermedia %>  <br><br>
                    <p><strong style="font-size: 20px;">Interests: </strong><%= obj.interests %> <br><br>
                    <strong style="font-size: 20px;">Bio: </strong><%= obj.bio %> </p>
                </center>
            </li>
            <%
            });
            };
            %>
        </ul>
        <script>
            function myFunction() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    };
                };
            };

            const classButton = document.querySelector('.classButton')
            classButton.addEventListener('click', myClass)

            function myClass() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("classDropdown");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    };
                };
            };
        </script>
    </body>
</html>